:root {
    --cor_div: aliceblue;
    --cor_nav_letra: black;
}

.navegacao_drivers {
    background-color: var(--cor_div);
    padding: 24px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.navegacao_drivers li {
    display: flex;
    justify-content: space-evenly;
    text-decoration: solid black;
    color: var(--cor_nav_itens);
}
